<p id="notice"><%= notice %></p>

<p>
  <b>Question Title:</b>
  <%= @conversation.title %>
</p>
<p>
  <b>Posted By:</b>
  <%= @conversation.user.name %>
</p>
<p>
  <b>Description:</b>
  <%= @conversation.description %>
</p>

<%= render :partial => 'comments/form' %>

<div id="comments">
  <% unless @comments.nil? %>
    <% @comments.each do |c| %>
      <% unless c.content.nil? %>
      <div class="listing">
        <%= c.content %></br>
        Posted By:<%=c.user.name%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%if current_user.id==c.user_id %>
<%= link_to 'Delete', c, :confirm => 'Are you sure?', :method => :delete %>

<%end%>
        <%d=0%>
<%Vote.all.each do |f|%>
<%if f.voteable_type=="Comment" && f.voteable_id==c.id && f.vote%>
<%d=d+1%>
<%end%>
<%end%>
<br/>
<b><font size="4"><%=d%></font></b>
<a href="/comments/<%=c.id%>/vote_upcm/" data-method="post" rel="nofollow"><img src="/images/ts.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div style="display:none">
<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
</div>
<%= link_to 'Back', forum_path(@forum) %>
