<html>
  <head>
	<title>Mail from Lecpool</title>
  </head>
  <body>
	<center>
	<table style="width: 555px; margin: 10px auto; border: 1px black solid;">
	  <tr><td style="background: #dfdfdf; text-align: center;"><h2 style="margin: 8px auto 8px auto;">Activate Your Lecpool Account</h2></td></tr>
	  <tr>
		<td style="text-align: left; padding: 5px 10px;">
		  <p>Welcome to <strong>Lecpool</strong>, <strong><%= @name %> </strong></p>
		  <p><strong>Lecpool</strong> received a sign-up request using <%= @email %>.  If it is indeed from you
		  and you wish to activate your account, click <a href="http://lecpool-iitk.heroku.com/users/<%=@id%>/activate">here.</a></p><p> Or copy this link in your browser:http://lecpool-iitk.heroku.com/users/<%=@id%>/activate</p>
		  <p>Should you wish to be completely removed from our database, click
		  <a href="http://lecpool-iitk.heroku.com/users/<%=@id%>/delete">here.</a></p>
		</td>
	  </tr>
	</table>
	</center>
  </body>
</html>
