<table class="profile" summary="Profile information">
<tr>
<td class="main">

<h1><strong><%=current_user.cn7.upcase%> : Videos</strong></h1>



<br />
<table class="microposts" summary="User microposts">
<%Video.order("vcount DESC").each do |t| %>

<%if current_user.cn7==t.course %>


<tr>
<td class="feed">
<span class="content">
<% x=t.video_code.split('/').last%>
<% b=t.video_code.split('/')%>
<%c=b[2]%>
<%if c=="youtu.be" %>
<p><strong>Title:<%=t.title%></strong></p>
<p><strong>Course:<%=t.course%></strong></p>
<p><strong>Posted By:<%=t.user.name%></strong></p>

<%d=0%>
<%Vote.all.each do |f|%>
<%if f.voteable_type=="Video" && f.voteable_id==t.id && f.vote%>
<%d=d+1%>
<%end%>
<%end%>
<b><font size="6"><%=d%></font><b>
<a href="/videos/<%=t.id%>/vote_up7v/" data-method="post" rel="nofollow"><img src="/images/thumbs_up.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

<%d=0%>
<%Vote.all.each do |f|%>
<%if f.voteable_type=="Video" && f.voteable_id==t.id &&  !f.vote%>
<%d=d+1%>
<%end%>
<%end%>
<b><font size="6"><%=d%></font><b>
<a href="/videos/<%=t.id%>/vote_down7v/" data-method="post" rel="nofollow"><img src="/images/thumbsdown.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><br/>
<a href="/favourites/<%=t.id%>/fv/">Add to Favourites</a><br/>
<%if current_user.id==t.user_id %>
<%= link_to 'Delete', t, :confirm => 'Are you sure?', :method => :delete %>

<%end%>

<br/><br/>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<iframe width="560" height="349" src="http://youtube.com/embed/<%=x%>" frameborder="0" allowfullscreen></iframe><br/><br/><br/>

<%end%>


<%end%>
<%end%>
</td>
</tr>
</table>
</td>
<td class="sidebar round" >
 <style="position:right;"><%= form_tag videos_search2_path, :html => {:method => :get} do |f| %>
   <%= text_field_tag :title_contains %>
    <%= submit_tag "Search By Video Name", :class => "search-button", :name => "submit", :id => 'search_submit' %>

  <% end %></style><br/>

<strong><font size="4"><b><a href="/users/<%=current_user.id%>/course7" >All Documents</a></font></b><br /><br/>
<strong><font size="4"><b><a href="/users/<%=current_user.id%>/course7b" >E-books</a></font></b><br /><br/>
<strong><font size="4"><b><a href="/users/<%=current_user.id%>/course7l" >Lecture Notes</a></font></b><br /><br/>
<strong><font size="4"><b><a href="/users/<%=current_user.id%>/course7a" >Assignments</a></font></b><br /><br/>

<strong><font size="4"><b><a href="/users/<%=current_user.id%>/course7q" >Quiz Papers</a></font></b><br /><br/>
<strong><font size="4"><b><a href="/users/<%=current_user.id%>/course7e" >Exam Papers</a></font></b><br /><br/>




</td>
</tr>
</table>
