<h1>Edit Profile</h1>
<%= form_for @user,:html => {:multipart => true} do |f| %>
<%= render 'shared/error_messages', :object => f.object %>


<div class="field">
<%= f.label :password,"Old/New Password" %><br />
<%= f.password_field :password %>
</div>

<div class="field">
<%= f.label :password_confirmation,"Confirm Old/New Password" %><br />
<%= f.password_field :password_confirmation %>
</div>




<div class="field">
<%= f.label :cn1, "Course No.1  (Note: Use lower case and don't put a space anywhere. Eg: cs100)" %><br />
<%= f.text_field :cn1 %>
</div>
<div class="field">

<div class="field">
<%= f.label :cn2, "Course No.2" %><br />
<%= f.text_field :cn2 %>
</div>
<div class="field">
<%= f.label :cn3, "Course No.3" %><br />
<%= f.text_field :cn3 %>
</div>
<div class="field">
<%= f.label :cn4, "Course No.4" %><br />
<%= f.text_field :cn4 %>
</div>
<div class="field">
<%= f.label :cn5, "Course No.5" %><br />
<%= f.text_field :cn5 %>
</div>
<div class="field">
<%= f.label :cn6, "Course No.6" %><br />
<%= f.text_field :cn6 %>
</div>
<div class="field">
<%= f.label :cn7, "Course No.7" %><br />
<%= f.text_field :cn7 %>
</div>

<div class="field">
<%= f.label :image,"Profile Pic:"%><br/>

<%= f.file_field :image %>

</div>
<br/>

<div class="field">

<%= f.label :remote_image_url, "Or Image URL" %><br />

<%= f.text_field :remote_image_url %>

</div>
<br/>

<div class="actions">
<%= f.submit "Update" %>
</div>
<% end %>

