<table class="profile" summary="Profile information">
<tr>
<td class="main">

<h1>
<%= gravatar_for @user %><br />
</h1>


<strong><font size="4"><b>Name: </strong><%= @user.name %></font></b><br/>
<strong><font size="4"><b>Department: </strong> <%= @user.department %></font></b><br />
<strong><font size="4"><b>Roll No: </strong><%= @user.rollno %></font></b><br/>
<strong><font size="4"><b>Email ID: </strong><%= @user.email %></font></b><br/>
<strong><font size="4"><b>Address: </strong> <%= @user.address %></font></b><br />
<strong><font size="4"><b>Contact No: </strong> <%= @user.contact %></font></b><br />


</td>
</tr>
</table>
