<table class="profile" summary="Profile information">
<tr>
<td class="main">

<h1>
<%= gravatar_for @user %><%="  	      "%><%= @user.name %></b><br />
</h1>



<strong><font size="4"><b>Department: </strong> <%= @user.department %></font></b><br /><br/>

<table class="microposts" summary="User microposts">
<% Attachment.all.reverse.each do |t| %>
<%if current_user.cn1==t.course ||current_user.cn2==t.course ||current_user.cn3==t.course ||current_user.cn4==t.course ||current_user.cn5==t.course ||current_user.cn6==t.course||current_user.cn7==t.course%>  
<%user=User.find(t.user_id)%>
<%name=user.name%>
<% s1=" uploaded a new Document called " %>
<% s2=" belonging to Course: "%>
<% s3=" under Category: "%>
<tr>
<td class="feed">
<span class="content"><strong><%=name%></strong><%=s1%><strong><%=t.filename%></strong><%=s2%><strong><%=t.course%></strong><%=s3%><strong><%=t.category%></strong></span><br/>
<span class="timestamp">Posted <%= time_ago_in_words(t.created_at) %> ago.</span>
</td>
</tr>
<%end%>
<%end%>

<% Video.all.reverse.each do |t| %>
<%if current_user.cn1==t.course ||current_user.cn2==t.course ||current_user.cn3==t.course ||current_user.cn4==t.course ||current_user.cn5==t.course ||current_user.cn6==t.course||current_user.cn7==t.course%>  
<%user=User.find(t.user_id)%>
<%name=user.name%>
<% s1=" uploaded a new Video called " %>
<% s2=" belonging to Course: "%>

<tr>
<td class="feed">
<span class="content"><strong><%=name%></strong><%=s1%><strong><%=t.title%></strong><%=s2%><strong><%=t.course%></strong></span><br/>
<span class="timestamp">Posted <%= time_ago_in_words(t.created_at) %> ago.</span>
</td>
</tr>
<%end%>
<%end%>


</table>

</td>
<td class="sidebar round" >
<%= form_tag attachments_index_path, :html => {:method => :get} do |f| %>
   <%= text_field_tag 'search[filename_contains]' %>
    <%= submit_tag "Search Notes", :class => "search-button", :name => "submit", :id => 'search_submit' %>
<% end %><br/>

<%= form_tag attachments_create_path, :multipart => true do %>
<b>Course:</b><br />

<input id="attachment_course" name="attachment[course]" type="text" /><br />

<div class="field">
<label for="attachment_category">Category:</label><br />

<select id="attachment_category" name="attachment[category]">
  <option value="E-book">E-books</option>
  <option value="Lecture Notes">Lecture Notes</option>
  <option value="Assignment">Assignment</option>
  <option value="Quiz">Quiz</option>
  <option value="Exam Paper">Exam Paper</option>
  
  


</div>

</select>



    <%= file_field_tag 'a' %>
    <%= submit_tag "Upload Notes" %>


<% end %><br/><br/>

<%a=0%>
<% Message.all.each do |msg| %>
<% if msg.email==current_user.email %>
<% a=a+1%>
<%end%>
<%end%>


<strong><font size="4"><b><a href="/messages">Inbox(<%=a%>)</a> </strong></font></b><br/>
<strong><font size="4"><b><a href="/messages/new">Request Help</a></b></strong></font><br />
<strong><font size="4"><b><a href="/favourites/fva/">My Favourites</a></b></strong></font><br />
<br/>

<strong><font size="4"><b>Roll No: </strong> <%= @user.rollno %></font></b><br />
<strong><font size="4"><b>My Uploads:</strong><%= @user.attachments.count %></font></b><br/>
<strong><font size="4"><b>View All: </strong></font><a href="/attachments/show" >NOTES </a>| <a href="/videos"> VIDEO </a></b><br />
<strong><font size="4"><b>Courses: </strong> </font></b>

<a href="/users/<%=params[:id]%>/edit"><b>ADD / CHANGE</a></b><br />
<font size="4"><a href="/users/<%=params[:id]%>/course1"><%=@user.cn1%></a></font><br />

<font size="4"><a href="/users/<%=params[:id]%>/course2"><%=@user.cn2%></a> </font><br />

<font size="4"><a href="/users/<%=params[:id]%>/course3"><%=@user.cn3%></a> </font><br />
<font size="4"><a href="/users/<%=params[:id]%>/course4"><%=@user.cn4%></a> </font><br />
<font size="4"><a href="/users/<%=params[:id]%>/course5"><%=@user.cn5%></a> </font><br />
<font size="4"><a href="/users/<%=params[:id]%>/course6"><%=@user.cn6%></a> </font><br />
<font size="4"><a href="/users/<%=params[:id]%>/course7"><%=@user.cn7%></a> </font><br />





</td>
</tr>
</table>
