<table class="profile" summary="Profile information">
<tr>
<td class="main">

<h1>
<%= gravatar_for @user %><%="  	      "%><%= @user.name %></font></b><br />
</h1>



<strong><font size="4"><b>Department: </strong> <%= @user.department %></font></b><br /><br/>

<table class="microposts" summary="User microposts">
<% Attachment.all.reverse.each do |t| %>
<%user=User.find(t.user_id)%>
<%name=user.name%>
<% s1=" uploaded a file called " %>
<% s2=" belonging to Course: "%>
<tr>
<td class="feed">
<span class="content"><strong><%=name%></strong><%=s1%><strong><%=t.filename%></strong><%=s2%><strong><%=t.course%></strong></span><br/>
<span class="timestamp">Posted <%= time_ago_in_words(t.created_at) %> ago.</span>
</td>
</tr>
<%end%>
</table>

</td>
<td class="sidebar round" >
<strong><font size="4"><b>Roll No: </strong> <%= @user.rollno %></font></b><br />
<strong><font size="4"><b>Uploads:</strong><%= @user.attachments.count %></font></b><br/>
<strong><font size="4"><b>Courses: </strong> </font></b>

<a href="/users/<%=params[:id]%>/edit">To Add or Change a course click Here !</a><br />
<font size="4"><a href="/users/<%=params[:id]%>/course1"><%=@user.cn1%></a></font><br />

<font size="4"><a href="/users/<%=params[:id]%>/course2"><%=@user.cn2%></a> </font><br />

<font size="4"><a href="/users/<%=params[:id]%>/course3"><%=@user.cn3%></a> </font><br />
<font size="4"><a href="/users/<%=params[:id]%>/course4"><%=@user.cn4%></a> </font><br />
<font size="4"><a href="/users/<%=params[:id]%>/course5"><%=@user.cn5%></a> </font><br />
<font size="4"><a href="/users/<%=params[:id]%>/course6"><%=@user.cn6%></a> </font><br />
<font size="4"><a href="/users/<%=params[:id]%>/course7"><%=@user.cn7%></a> </font><br />






</td>
</tr>
</table>
