<table class="profile" summary="Profile information">
<tr>
<td class="main">






<table class="microposts" summary="User microposts">

<h1>My Favourite Videos</h1>
<br/>

<% Favourite.all.each do |t| %>


<% if current_user.id==t.user_id && t.category=="Video"%>
<tr>
<td class="feed">
<span class="content">

<p><strong>Title:<%=t.video.title%></strong></p>
<p><strong>Course:<%=t.video.course%></strong></p>
<p><strong>Posted By:<%=t..video.user.name%></strong></p>


<%= link_to 'Remove from favourites', t, :confirm => 'Are you sure?', :method => :delete %><br/><br/>


<% x=t.video.video_code.split('/').last%>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<iframe width="560" height="349" src="http://youtube.com/embed/<%=x%>" frameborder="0" allowfullscreen></iframe><br/><br/><br/>








<%end%>
<%end%>



</td>
</tr>
</table>
</td>
<td class="sidebar round" >
 

<strong><font size="4"><b><a href="/favourites/fva/" >All Documents</a></font></b><br /><br/>
<strong><font size="4"><b><a href="/favourites/fvb/" >E-books</a></font></b><br /><br/>
<strong><font size="4"><b><a href="/favourites/fvl/" >Lecture Notes</a></font></b><br /><br/>
<strong><font size="4"><b><a href="/favourites/fvaa/" >Assignments</a></font></b><br /><br/>

<strong><font size="4"><b><a href="/favourites/fvq/" >Quiz Papers</a></font></b><br /><br/>
<strong><font size="4"><b><a href="/favourites/fve/" >Exam Papers</a></font></b><br /><br/>




</td>
</tr>
</table>
