<style="position:right;"><%= form_tag videos_search2_path, :html => {:method => :get} do |f| %>
   <%= text_field_tag :title_contains %>
    <%= submit_tag "Search By Video Name", :class => "search-button", :name => "submit", :id => 'search_submit' %>

  <% end %></style>



<%Video.order("vcount DESC").each do |t| %>
<% x=t.video_code.split('/').last%>
<% b=t.video_code.split('/')%>
<%c=b[2]%>
<%if c=="youtu.be" %>
<p><strong>Title:<%=t.title%></strong></p><br/>
<p><strong>Course:<%=t.course%></strong></p><br/>
<p><strong>Posted By:<%=t.user.name%></strong></p><br/>
<a href="/favourites/<%=t.id%>/fv/">Add to Favourites</a><br/>
<%d=0%>
<%Vote.all.each do |f|%>
<%if f.voteable_type=="Video" && f.voteable_id==t.id && f.vote%>
<%d=d+1%>
<%end%>
<%end%>
<b><font size="6"><%=d%></font><b>
<a href="/videos/<%=t.id%>/vote_up/" data-method="post" rel="nofollow"><img src="/images/thumbs_up.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>

<%d=0%>
<%Vote.all.each do |f|%>
<%if f.voteable_type=="Video" && f.voteable_id==t.id &&  !f.vote%>
<%d=d+1%>
<%end%>
<%end%>
<b><font size="6"><%=d%></font><b>
<a href="/videos/<%=t.id%>/vote_down/" data-method="post" rel="nofollow"><img src="/images/thumbsdown.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><br/>
<%if current_user.id==t.user_id %>
<%= link_to 'Delete', t, :confirm => 'Are you sure?', :method => :delete %><br/>
<%else%>
<br/>
<%end%>

<br/><br/>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<iframe width="760" height="449" src="http://youtube.com/embed/<%=x%>" frameborder="0" allowfullscreen></iframe><br/><br/><br/>

<%end%>


<%end%>

