<h3>Search Results:</h3>
<%a=0%>
<%@attachments.each do |t|%>
<%if t.course==current_user.cn1%>
<%a=a+1%>
<%end%>
<%end%>
<strong><%=a%> Matching Results Found!</strong><br /><br />
<%@attachments.each do |t|%>



<%if t.course==current_user.cn1%>
<a href ="/attachments/<%=t.id%>/file"><%=t.filename%></a>  | Posted By:<%=t.user.name%><br />
<%if t.content_type=="image/jpeg"||t.content_type=="image/png"||t.content_type=="image/jpg"||t.content_type=="image/gif"||t.content_type=="image/tif"%>
<a href="/attachments/<%=t.id%>/file/view1">View</a><br/>
<%else%>
<a href="/attachments/<%=t.id%>/file/view">View</a><br/>
<%end%>
<%end%>
<%end%>

