<h3>Search:</h3>
 <%= form_tag attachments_index_path, :html => {:method => :get} do |f| %>
   <%= text_field_tag 'search[filename_contains]' %>
    <%= submit_tag "Search By Filename", :class => "search-button", :name => "submit", :id => 'search_submit' %>

  <% end %>
<br />

<h3>Files:</h3>
<%Attachment.all.each do |t|%>
<%a=0%>
<a href ="/attachments/<%=t.id%>/file"><%=t.filename%></a> <br />  Posted By:<%=t.user.name%> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/attachments/<%=t.id%>/vote_up/" data-method="post" rel="nofollow"><br/><img src="/images/thumbs_up.png" />&nbsp;&nbsp;</a>

<%Vote.all.each do |f|%>
<%if f.voteable_id==t.id && f.voteable_type=="Attachment" && f.vote%>
<%a=a+1%>
<%end%>
<%end%>
<b><%=a%> likes!</b>
<%a=0%>
<a href="/attachments/<%=t.id%>/vote_down/" data-method="post" rel="nofollow"><img src="/images/thumbsdown.png" />&nbsp;&nbsp;</a>
<%Vote.all.each do |f|%>
<%if f.voteable_id==t.id && f.voteable_type=="Attachment" && !f.vote%>
<%a=a+1%>
<%end%>
<%end%>
<b><%=a%> dislikes!</b><br /><br />
<% z=t.filename.split('.') %>
<% x=z.last %>
<% if x=="pdf" %>
<script type="text/javascript" src='http://www.scribd.com/javascripts/view.js'></script>

<div id='embedded_flash' >
<a href='http://www.scribd.com'>Scribd</a>
</div>

<script type="text/javascript">
var scribd_doc = scribd.Document.getDocFromUrl('http://lecpool-iitk.heroku.com/attachments/<%=t.id%>/file', 'pub-73569908783260757009');

var oniPaperReady = function(e){
// scribd_doc.api.setPage(3);
}

scribd_doc.addEventListener( 'iPaperReady', oniPaperReady );
scribd_doc.addParam('jsapi_version', 1);
scribd_doc.addParam('height', 600);
scribd_doc.addParam('width', 400);
scribd_doc.addParam('page', 10);
scribd_doc.addParam('public', true);

scribd_doc.write('embedded_flash');
</script>

<%end%>

<%end%>



