<h3>Search:</h3>
 <%= form_tag attachments_index_path, :html => {:method => :get} do |f| %>
   <%= text_field_tag 'search[filename_contains]' %>
    <%= submit_tag "Search By Filename", :class => "search-button", :name => "submit", :id => 'search_submit' %>

  <% end %>
<br />

<h3>Files:</h3>
<%Attachment.all.each do |t|%>
<%a=0%>
<a href ="/attachments/<%=t.filename%>"<%=t.filename%></a> <br />  Posted By:<%=t.user.name%> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/attachments/<%=t.id%>/vote_up/" data-method="post" rel="nofollow"><br/><img src="/images/thumbs_up.png" />&nbsp;&nbsp;</a>

<%Vote.all.each do |f|%>
<%if f.voteable_id==t.id && f.voteable_type=="Attachment" && f.vote%>
<%a=a+1%>
<%end%>
<%end%>
<b><%=a%> likes!</b>
<%a=0%>
<a href="/attachments/<%=t.id%>/vote_down/" data-method="post" rel="nofollow"><img src="/images/thumbsdown.png" />&nbsp;&nbsp;</a>
<%Vote.all.each do |f|%>
<%if f.voteable_id==t.id && f.voteable_type=="Attachment" && !f.vote%>
<%a=a+1%>
<%end%>
<%end%>
<b><%=a%> dislikes!</b><br /><br />
<% z=t.filename.split('.') %>
<% x=z.last %>
<% if x=="pdf" %>
<iframe src="http://docs.google.com/viewer?url=http%3A%2F%2Flecpool-iitk.heroku.com%2Fattachments%2F<%=t.filename%>&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
<%end%>

<%end%>



