<header>

<% if signed_in? %>
<%= link_to logo, current_user %>

<%else%>
<%= link_to logo, root_path %>
<%end%>
<nav class="round">

<nav class="round">
<ul>



<% if signed_in? %>
<li><%= link_to "USERS", users_path %></li>
<li><%= link_to "HOME", current_user %></li>

<li><%= link_to "EDIT PROFILE", edit_user_path(current_user) %></li>
<li><%= link_to "CHANGE PASSWORD",users_new_password_path%></li>

<% end %>

<% if signed_in? %>
<li><%= link_to "UPLOAD", attachments_create_path  %></li>
<li><%= link_to "FORUM", forums_path %></li>

<li><%= link_to "SIGN OUT", signout_path, :method => :delete %></li>
<% else %>
<li><%= link_to "HOME", root_path %></li>
<li><%= link_to "SIGN IN", signin_path %></li>
<% end %>




</ul>
</nav>
</header>
